*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#game{
    width: 80%;
    min-height: 50vh;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-inline: auto;
    margin-top: 32px;
    padding: 32px;
    position: relative;
    background-color: pink;
}


#fighter {
    width: 80px;
    height: 20px;
    background-color: green;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 9;
}

.bullet {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    animation: fire 300ms ease-in-out; 
}

@keyframes fire {
    
    0%{
        display: none;
        transform: translateY(0)
    }

    5%{
        display: block;
        
    }
    100%{
        display: block;
        transform: translateY(300px);
    }
}

img{
    /* width: 200px ;
    height: 200px;
    border: 2px solid gray; 
    object-fit: cover; */
}

#image-container {
    width: 80%;
    margin-inline: auto; 
    padding: 1rem;
    border: 1px solid pink; 
    min-height: 80vh;
}